<div class="col-md-10">
  <h3>Institution List</h3>
</div>
<div class="col-md-2">
  <%= link_to 'New Product', new_institution_path, class: "btn btn-danger" %>
</div>
<div class="col-md-12">
  <table class="table">
    <tr>
      <% Institution.column_names.each do |column| %>
      <th><%= column %></th>
      <% end %>
      <th colspan="2">Operations</th>
    </tr>
    <%= render @institutions %>
  </table>
</div>