<div id="money_receiptModal<%=money_receipt.id%>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="thumbnail">
        <%= image_tag money_receipt.attach %>
      </div>
    </div>
  </div>
</div>
