<tr>
  <td><%= roi.id %></td>
  <td><%= best_in_place roi, :range %></td>
  <td><%= best_in_place roi, :profit %></td>
  <td><%= link_to t('destroy'), [roi.product, roi], method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>