<div class="col-md-10">
  <h3>Fund List</h3>
</div>
<div class="col-md-2">
  <%= link_to 'New Fund', new_fund_path, class: "btn btn-danger" %>
</div>
<div class="col-md-12">
  <table class="table">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>desc</th>
      <th>title1</th>
      <th>content1</th>
      <th>title2</th>
      <th>content2</th>
      <th>title3</th>
      <th>content3</th>
      <th>progress</th>
      <th colspan="2">Operations</th>
    </tr>
    <%= render @funds %>
  </table>
</div>