<div class="row-fluid">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h4 class="panel-title text-center"><%= t(:product_list) %></h4>
      </div>
      <!-- Table -->
      <%= render :partial => 'products_grid' %>
      <%= render_grid(@products_grid) %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-4">
    <%= link_to t(:new_product), new_product_path, class: "btn btn-danger" %>
  </div>
</div>
