<div class="row-fluid">
  <div class="col-md-12">
    <p class="lead text-center bg-info"><%= t(:product_list) %></p>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-12">
    <%= render :partial => 'products_grid' %>
    <%= render_grid(@products_grid) %>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-4">
    <%= link_to t(:new_product), new_product_path, class: "btn btn-danger" %>
  </div>
</div>
